<component name="ArtifactManager">
  <artifact type="jar" name="springbootLoaderTest">
    <output-path>$PROJECT_DIR$/out/artifacts/springbootLoaderTest</output-path>
    <root id="archive" name="springbootLoaderTest.jar">
      <element id="directory" name="tech">
        <element id="directory" name="mystox">
          <element id="directory" name="springboot">
            <element id="directory" name="utils">
              <element id="file-copy" path="$PROJECT_DIR$/springboot2x-demo-test/target/classes/tech/mystox/springboot/utils/ClassLoaderTest.class" />
            </element>
          </element>
        </element>
      </element>
    </root>
  </artifact>
</component>